altair==5.0.1 ; python_version >= "3.11" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "3.12"
blinker==1.6.2 ; python_version >= "3.11" and python_version < "3.12"
blis==0.7.10 ; python_version >= "3.11" and python_version < "3.12"
cachetools==5.3.1 ; python_version >= "3.11" and python_version < "3.12"
catalogue==2.0.9 ; python_version >= "3.11" and python_version < "3.12"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
confection==0.1.1 ; python_version >= "3.11" and python_version < "3.12"
cymem==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.12.2 ; python_version >= "3.11" and python_version < "3.12"
fsspec==2023.6.0 ; python_version >= "3.11" and python_version < "3.12"
gitdb==4.0.10 ; python_version >= "3.11" and python_version < "3.12"
gitpython==3.1.32 ; python_version >= "3.11" and python_version < "3.12"
hu-core-news-trf @ https://huggingface.co/huspacy/hu_core_news_trf/resolve/v3.5.1/hu_core_news_trf-any-py3-none-any.whl ; python_version >= "3.11" and python_version < "3.12"
huggingface-hub==0.16.4 ; python_version >= "3.11" and python_version < "3.12"
idna==3.4 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==6.8.0 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-specifications==2023.7.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema==4.19.0 ; python_version >= "3.11" and python_version < "3.12"
langcodes==3.3.0 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
murmurhash==1.0.9 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.25.2 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.11" and python_version < "3.12"
pandas==2.0.3 ; python_version >= "3.11" and python_version < "3.12"
pathy==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
pillow==9.5.0 ; python_version >= "3.11" and python_version < "3.12"
preshed==3.0.8 ; python_version >= "3.11" and python_version < "3.12"
protobuf==4.24.1 ; python_version >= "3.11" and python_version < "3.12"
pyarrow==13.0.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic==1.10.12 ; python_version >= "3.11" and python_version < "3.12"
pydeck==0.8.0 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.16.1 ; python_version >= "3.11" and python_version < "3.12"
pympler==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.11" and python_version < "3.12"
pytz==2023.3 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
referencing==0.30.2 ; python_version >= "3.11" and python_version < "3.12"
regex==2023.8.8 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
rich==13.5.2 ; python_version >= "3.11" and python_version < "3.12"
rpds-py==0.9.2 ; python_version >= "3.11" and python_version < "3.12"
safetensors==0.3.3 ; python_version >= "3.11" and python_version < "3.12"
setuptools==68.1.2 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
smart-open==6.3.0 ; python_version >= "3.11" and python_version < "3.12"
smmap==5.0.0 ; python_version >= "3.11" and python_version < "3.12"
spacy-alignments==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
spacy-experimental==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
spacy-legacy==3.0.12 ; python_version >= "3.11" and python_version < "3.12"
spacy-loggers==1.0.4 ; python_version >= "3.11" and python_version < "3.12"
spacy-streamlit==1.0.6 ; python_version >= "3.11" and python_version < "3.12"
spacy-transformers==1.2.5 ; python_version >= "3.11" and python_version < "3.12"
spacy==3.5.4 ; python_version >= "3.11" and python_version < "3.12"
srsly==2.4.7 ; python_version >= "3.11" and python_version < "3.12"
streamlit==1.25.0 ; python_version >= "3.11" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.11" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.12"
thinc==8.1.12 ; python_version >= "3.11" and python_version < "3.12"
tokenizers==0.13.3 ; python_version >= "3.11" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
toolz==0.12.0 ; python_version >= "3.11" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
tornado==6.3.3 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "3.12"
transformers==4.30.2 ; python_version >= "3.11" and python_version < "3.12"
typer==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "3.12"
tzlocal==4.3.1 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.0.4 ; python_version >= "3.11" and python_version < "3.12"
validators==0.21.2 ; python_version >= "3.11" and python_version < "3.12"
wasabi==1.1.2 ; python_version >= "3.11" and python_version < "3.12"
watchdog==3.0.0 ; python_version >= "3.11" and python_version < "3.12" and platform_system != "Darwin"
zipp==3.16.2 ; python_version >= "3.11" and python_version < "3.12"
